<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1m.svg">
    <h1>Messenger</h1>
  </div>
</div>

<div class="users">
  <div class="container">
   <% @users.each do |user| %>
    <div class="user">
      <p class="username"><%= user.username %></p>
      <div class="show">
           <%=link_to "View User", user_path(user)%>
      </div>
    </div>
	<% end %>
    <%= link_to 'New User', "new_user_path"%>
  </div>
</div>
